@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
:root{
    --first-color: #fafafa; 
    --second-color: #ffe9e3;
    --third-color: #c4c1e0; 
    --fourth-color: #B2A4D4;
}
body{
    top:0;
    margin:0;
    font-family: 'Poppins', sans-serif;
    height:100%;
}
header{
    background-color: #B2A4D4;
    width:100%;
    height: 60px;
    position: fixed;
    top:0;
    z-index:4;
    align-items: center;
}
.logo{
    float: left;
    width: 100px;
    height:100px;
    top: -15px;
    position: absolute;
}
ul{
    float: right;
    display: flex;
    list-style-type: none;
}
ul > li{
    text-decoration: none;
    margin-right:20px;
    font-size: larger;   
}
a:hover {
    cursor: pointer;
    color: #fae885;
}
li > a{
    color:var(--first-color);
    text-decoration: none;
}
#welcome-section{
    top:0;
    height:110vh;
    width:100%;
    background: linear-gradient(180deg, var(--third-color), #ffffff );
    position: relative;
}
#welcome-section h1{
    width:100%;
    height:100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    font-size: 50px;
    color: #4E1E66;
    text-shadow: 1px 1px 0 var(--fourth-color),-1px 1px 0 var(--fourth-color),
    -1px -1px 0 var(--fourth-color),
    1px -1px 0 var(--fourth-color);
    margin-top: 250px;
}
#welcome-section p{
    width:100%;
    height:100%;
    z-index: 1;
    text-align: center;
    position: absolute;
    margin-top:300px;
    font-size: 20px;
    color: var(--fourth-color);
}
.body-img-left{
    margin-left:70%;
    position: fixed;
    z-index: 2;
}
.body-img-right{
    left:-175px;
    margin-top: 200px;
    position:fixed;
    z-index: 2;
}
#projects{
    width:100%;
    margin-top:-20px;
    min-height:100vh;
    background-color: var(--second-color);
    background-image: linear-gradient(to top, #fafafa, #eceaf3, #ded9ec, #d0c9e5, #c3b9de, #c3b9de, #c3b9de, #c3b9de, #d0c9e5, #ded9ec, #eceaf3, #fafafa);
    position:relative;
    padding-bottom: 80px;
}
.project-tile{
    text-align: center;
    padding-top: 80px;
    position: flex;
    color:var(--fourth-color);
    margin-bottom:40px;
    text-decoration: underline;
}

.gallery{
    display: grid;
    place-items: center;
    gap: 40px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
}
.row{
    width:80%;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px 30px;
    height:400px;
    background-color: var(--fourth-color);
    border-radius: 5px;
    color: white; 
    z-index: 3;
}

.row .left{
    overflow: hidden;
}
iframe{
    width: 100%;
    height:80%;
    object-fit: cover;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.content {
    font-size: 1.8rem;
    letter-spacing: 0.6px;
    column-width: 25rem;

}
 
#contact{
    z-index: 3;
    display:flex;
    margin-top:-20px;
    top:0;
    height:100vh;

    width:100%;
    background-color: white;
    background: linear-gradient(180deg, white, #d5e3fd );
    position: relative;
    overflow: hidden;
}
.social-icons {
    width:100%;
    display: grid;
    font-size: 3rem;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
    z-index: 1;
}
.fab{
    color: #4E1E66;

}
.fab:hover{
    color: #B2A4D4;
}
.bottom{
    left: -40px;
    top:280px;
    position: absolute;
    z-index: 0;
}
.hang{
    position: absolute;
    z-index: 0;
    float: right;
    height: 400px;
    right: 0;

}